:root {
  --font: 'Open Sans', sans-serif;
 --primary-color: #FE724C;
 --primary-hover-color: #bd5437;
 --text-secondary-color: #5B5B5B
 --white-color: #FFFFFF;
 --text-color: #000000;
 --separator-color: #D4D6E0;

}

body {
  font-family: "Open Sans", sans-serif;
}
